bin/Debug/netcoreapp2.1/MyNetCore.dll
bin/Debug/netcoreapp2.1/MyNetCore.dll
bin/Debug/netcoreapp2.1/MyNetCore.pdb
obj/Debug/netcoreapp2.1/MyNetCore.dll
obj/Debug/netcoreapp2.1/MyNetCore.pdb
obj/Debug/netcoreapp2.1/MyNetCore.csprojResolveAssemblyReference.cache
